

body {
    background-color: #280137;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    
}


.oldalsav {
    position: fixed;
    left: 0;
    top: 0;
    width: 70px;
    height: 100%;
    text-align: center;
    background: #280137;
}

.oldalsav-ikonok { margin-top: 80px; }

.ikon-link {
    display: block; /* ikonok külön sorba legyenek, ne egybe */
    font-size: 25px;
    color: white;
    margin-bottom: 25px;
    text-decoration: none;
}

.aktiv-ikon { color: #00ccff; }


.felso-menu {
    
    padding: 10px;
    height: 45px;
}



.gombok-helye { text-align: center; }

.menu-gomb {
    padding: 8px 25px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    margin: 0 5px;
}



.tartalom-doboz {
    margin-left: 100px;
    padding: 30px;
    max-width: 850px;
    margin: auto;
}



.profil-fejlec {

    padding: 20px;
    margin-bottom: 20px;
    text-align: center;

}



.kep-keret {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
}

.profil-kep {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.szamok { font-size: 14px;
          font-style: italic;
          font-weight: bold;
}

.szoveg-doboz {
    padding: 15px;
    min-height: 200px;
    font-size: 14px;
    margin-right: 10px;
}


.galeria-doboz {
    padding: 15px;
}

.kep-rács {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.rács-elem {
    background: #fdfdfd;
    align-items: center;
    justify-content: center;
}

.rács-elem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a{color: white;
}


@media screen and (max-width: 850px) {
   .kep-rács {
  
    grid-template-columns: 1fr;
    
}
    
}